<li class="nav-item d-flex align-items-center me-2">
    <div id="navbar-search-root"
         data-search-url="{{ path('app_search_api_quick') }}"
         data-search-page-url="{{ path('app_search') }}"
         data-label-placeholder="{{ 'app.search.navbar_placeholder'|trans }}"
         data-label-see-all="{{ 'app.search.navbar_see_all'|trans }}"
         data-label-no-results="{{ 'app.search.navbar_no_results'|trans }}">
    </div>
</li>
